*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(255, 255, 255);
}

span.size-12 {
  font-size: 12px;
}
span.size-24 {
  font-size: 24px;
}
span.size-32 {
  font-size: 32px;
}
span.size-36 {
  font-size: 36px;
}
span.size-48 {
  font-size: 48px;
}
span.size-60 {
  font-size: 60px;
}
